body{
	font-family: 'Lato', sans-serif;
}



.kop{
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	grid-template-rows: 20px 
	

	background-color: white;
	border: 10px;
	font-size: 10px;
	background-image: url(../img/header_bg.png);
	width: 1007px;
	}


.plaatje{
		display: inline-grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	/*grid-template-rows: 1px 1px 1px;*/
	

	background-color: white;
	border: 10px;
	font-size: 10px;
	background-image: url(../img/banner_bg.png);
	width: 1007px;
	.lang{	grid-column: 1/3;
}
		}


.midden{
	display: inline-grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
	/*grid-template-rows: 1px 1px 1px;*/
	

	background-color: white;
	border: 10px;
	font-size: 10px;
	background-image: url(../img/banner_bg.png);
		margin:10px;
	width: 1007px;
	
	}


}
